@import 'style';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  column-gap: 16px;
  padding: 16px 20px;
}

.button {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position-x: right;
  border: 0;
  padding: 0;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
  }

  & span {
    display: none;
  }
}

.header-start {
  display: flex;
  column-gap: 16px;
  align-items: center;

  & .header__divider {
    display: none;
  }

  &__button--burger {
    background-image: url(../img/burger.svg);
  }

  &__button--burger::after {
    margin-left: 62px;
    content: '';
    width: 2px;
    height: 32px;
    background-color: $platinum;
    display: none;

    &__logo {
      width: 97px;
      height: 51px;
      object-fit: contain;
    }
  }
}

.header-end {
  display: flex;
  column-gap: 16px;
  align-items: center;

  &__button--repair {
    background-image: url(../img/repair.svg);
  }

  &__button--repair::after {
    margin-left: -22px;
    content: '';
    width: 2px;
    height: 32px;
    background-color: $platinum;
    display: block;
  }

  &__button--checkstatus {
    background-image: url(../img/checkstatus.svg);
  }

  &__button--profile {
    background-image: url(../img/profile.svg);
    margin-right: 26px;
  }

  &__button--call {
    background-image: url(../img/call.svg);
  }

  &__button--chat {
    background-image: url(../img/chat.svg);
  }

  &__button--call,
  &__button--chat,
  &__button--profile {
    display: none;
  }
}

@media (min-width: 768px) {
  .header-start__button--burger,
  .header-end__button--call,
  .header-end__button--chat,
  .header-end__button--profile {
    display: block;
  }

  .header-start .header-start__button--burger {
    margin-right: 24px;
  }

  .header-start .header-start__button--burger::after {
    display: block;
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }

  .header-start,
  .header-end__button--call,
  .header-end__button--chat,
  .header-end__button--profile,
  .header__divider {
    display: none;
  }

  .header-end__button--repair,
  .header-end__button--checkstatus {
    display: flex;
    align-items: center;
    gap: 8px;
    width: auto;
    padding-right: 48px;
  }

  .button span {
    display: inline;
  }

  .header-end__button--repair {
    margin-right: 24px;

    &::after {
      display: none;
    }
  }

  .header-end__button--checkstatus {
    margin-right: 16px;
  }
}
