@import 'style';

.swiper-menu {
  font-family: TT Lakes, sans-serif;
  color: $grafit;
  background: $whiteSmoke;

  & .swiper-menu__list {
    margin-left: -50px;
    padding-top: 16px;

    & .swiper-pagination {
      position: initial;
    }

    & .swiper-menu__slide {
      height: 72px;
      width: 240px;
    }

    & .swiper-pagination-bullet-active {
      background-color: #7e7e82;
    }
  }

  &__head {
    background-color: $white;

    &-title {
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      background: linear-gradient(90deg, $whiteSmoke 0%, $white 98.61%);
      text-transform: uppercase;
      font-weight: 300;
      padding: 16px;
    }
  }

  &__slide {
    border: 1px solid $platinum;
    background-color: $white;
    border-radius: 6px;
    padding: 16px;
    list-style-type: none;
  }

  &__toggle-button {
    display: none;
  }
}

.swiper-slide__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  &::after {
    content: url(../img/go.svg);
    width: 40px;
    height: 40px;
    display: block;
  }
}

.swiper-slide__img {
  object-fit: none;
}

@media screen and (min-width: 768px) {
  .swiper-menu .swiper-menu__slide {
    display: none;

    &:nth-child(-n + 6) {
      display: block;
    }
  }

  .swiper-menu .swiper-menu__list {
    margin-left: 0px;
    padding-top: 24px;
  }

  .swiper-menu__list .swiper-menu__slide {
    width: 100%;
  }

  .swiper-menu__head-title {
    padding: 16px;
    padding-left: 24px;
  }

  .swiper-menu__slides-wrapper {
    grid-template-columns: repeat(3, 224px);
    display: grid !important;
    justify-items: stretch;
    justify-content: center;
    grid-auto-rows: 72px;
    gap: 24px;
  }

  .swiper-menu__slide {
    transition: ease 300ms;
    list-style-type: none;

    &:hover {
      transform: scale(1.2);
      background-color: $whiteSmoke;
    }
  }

  .swiper-menu__toggle-button {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    background-color: transparent;
    margin-top: 24px;
    margin-left: 54px;

    &::before {
      display: block;
      position: absolute;
      left: -30px;
      content: url(../img/expand.svg);
    }

    &::after {
      content: 'Показать всё';
    }
  }

  .swiper-menu__slides-wrapper--expanded ~ .swiper-menu__toggle-button::before {
    top: -5px;
    transform: rotate(180deg);
  }

  .swiper-menu__slides-wrapper--expanded ~ .swiper-menu__toggle-button::after {
    content: 'Скрыть';
  }

  .swiper-menu__slides-wrapper--expanded .swiper-menu__slide {
    display: block;
  }
}

@media screen and (min-width: 1120px) {
  .swiper-menu__slides-wrapper {
    grid-template-columns: repeat(4, 240px);
    gap: 32px;
  }

  .swiper-menu .swiper-menu__slide:nth-child(-n + 8) {
    display: block;
  }

  .swiper-menu__head-title {
    padding-left: 32px;
  }

  .swiper-menu__toggle-button {
    margin-left: 57px;
  }
}
